<% include common/header %>
<!-- <% include templates/navbar %> -->
<!-- <% include templates/subnav %> -->
<!--main-->
<div class="container" id="main">
  <!-- a -->
  <hr>
  <!-- b -->
  <hr>
  <!-- c -->
  <hr>
  <!-- d -->
  <!-- <% include templates/rows/d %> -->
</div>
<!--/main-->
<% include modals/login %>
<% include modals/about %>
<% include common/footer %>