<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" class="pull-right">View all</a><h4>Profiles</h4>
    </div>
    <div class="panel-body">
      Check out some of our member profiles..
      <hr>
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#"> <img class="media-object" src=""> </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p>
              <span class="label label-info">10 photos</span><span class="label label-primary">89 followers</span>
            </p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment">&nbsp;</span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart">&nbsp;</span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>