<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" class="pull-right">View all</a><h4>Upgrade to Bootstrap 3</h4>
    </div>
    <div class="panel-body">
      <img src="" class="img-circle pull-right"><a href="#">Guidance and Tools</a>
      <div class="clearfix">
        &nbsp;
      </div>
      <hr>
      <p>
        Migrating from Bootstrap 2.x to 3 is not a simple matter of swapping out the JS and CSS files.
        Bootstrap 3 is a major overhaul, and there are a lot of changes from Bootstrap 2.x. <a href="">This guidance</a> is intended to help 2.x developers transition to 3.
      </p>
      <h5><a href="">More on Upgrading from +Bootply</a></h5>

    </div>
  </div>
</div>