<div class="row">
  <div class="col-md-12">
    <!-- tittle -->
  </div>
  <div class="col-md-4 col-sm-6">
    <!-- post1 -->
  </div>
  <div class="col-md-4 col-sm-6">
    <!-- post2 -->
  </div>
  <div class="col-md-4 col-sm-6">
    <!-- post3 -->
  </div>
</div>