<br>

<div class="clearfix"></div>

<hr>
<div class="col-md-12 text-center">
  <p>
    <a href="" target="_ext">This is an alpha version</a>
    <br>
    <a href="" target="_ext">Using: Bootstrap Templates by @Bootply</a>
  </p>
</div>
<hr>
