<div class="panel panel-default">
  <div class="panel-heading">
    <a href="#" class="pull-right">View more..</a>
    <h4>Group A</h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="" class="list-group-item">Brasil</a>
      <a href="" class="list-group-item">Croatia</a>
      <a href="" class="list-group-item">Mexico</a>
      <a href="" class="list-group-item">Cameroon</a>
    </div>
  </div>
</div>