<% include ../common/header %>
<!-- <% include templates/navbar %> -->
<% include ../templates/subnav %>
<!--main-->
<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <% include ../templates/posts/post-intro %>
      <!-- panel -->
      <!-- panel -->
  
    </div>
    <div class="col-md-4 col-sm-6">
  
      <!-- panel -->
      <!-- panel -->
      <!-- panel -->
  
    </div>
    <div class="col-md-4 col-sm-6">
      <!-- panel -->
      <!-- panel -->
      <!-- panel -->
    </div>
  </div>  
  <!-- a -->
  <!-- <hr> -->
  <!-- b -->
  <!-- <hr> -->
  <!-- c -->
  <!-- <hr> -->
  <!-- d -->
  <!-- <% include templates/rows/d %> -->
</div>
<!--/main-->
<% include ../modals/login %>
<% include ../modals/about %>
<% include ../common/footer %>