<div class="panel panel-default">
  <div class="panel-heading">
    <a href="#" class="pull-right">View all</a><h4>Buttons &amp; Labels</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <a class="btn btn-default center-block" href="#">Button</a>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-primary center-block" href="#">Primary</a>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-danger center-block" href="#">Danger</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <a class="btn btn-warning center-block" href="#">Warning</a>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-info center-block" href="#">Info</a>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-success center-block" href="#">Success</a>
      </div>
    </div>
    <hr>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default">
        1
      </button>
      <button class="btn btn-default">
        2
      </button>
      <button class="btn btn-default">
        3
      </button>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <span class="label label-default">Label</span>
        <span class="label label-success">Success</span>

      </div>
      <div class="col-md-4">
        <span class="label label-warning">Warning</span>
        <span class="label label-info">Info</span>
      </div>
      <div class="col-md-4">
        <span class="label label-danger">Danger</span>
        <span class="label label-primary">Primary</span>
      </div>
    </div>

  </div>
</div>