<div class="row">
  <div class="col-md-12">
    <!-- title -->
  </div>
  <div class="col-md-12">
    <!-- notify -->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- playground -->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- playground -->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- playground -->
  </div>
</div>