<div class="panel panel-default">
  <div class="panel-heading">
    <a href="#" class="pull-right">View all</a><h4>Tabs</h4>
  </div>
  <div class="panel-body">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#A" data-toggle="tab">Section 1</a>
      </li>
      <li>
        <a href="#B" data-toggle="tab">Section 2</a>
      </li>
      <li>
        <a href="#C" data-toggle="tab">Section 3</a>
      </li>
    </ul>
    <div class="tabbable">
      <div class="tab-content">
        <div class="tab-pane active" id="A">
          <div class="well well-sm">
            I'm in Section A.
          </div>
        </div>
        <div class="tab-pane" id="B">
          <div class="well well-sm">
            Howdy, I'm in Section B.
          </div>
        </div>
        <div class="tab-pane" id="C">
          <div class="well well-sm">
            I've decided that I like wells.
          </div>
        </div>
      </div>
    </div>
    <!-- /tabbable -->

    <div class="col-sm-12 text-center">
      <ul class="pagination center-block" style="display:inline-block;">
        <li>
          <a href="#">«</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">»</a>
        </li>
      </ul>
    </div>

  </div>
</div>