<div class="panel panel-default">
  <div class="panel-thumbnail"><img src="//upload.wikimedia.org/wikipedia/en/3/30/FulecoMascot.jpg" class="img-responsive">
  </div>
  <div class="panel-body">
    <p class="lead">
      World Cup Groups
    </p>
    <p>
      <strong>8</strong> Groups
      <strong>X</strong> Continents
      <strong>5</strong> Qualified teams
    </p>

    <p>
      <img src="" width="28px" height="28px">
      <img src="" width="28px" height="28px">
    </p>
  </div>
</div>
