<div class="panel panel-default">
  <div class="panel-heading">
    <a href="//en.wikipedia.org/wiki/2014_FIFA_World_Cup#Qualified_teams" class="pull-right">View on Wiki</a><h4>Qualified teams</h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="" class="list-group-item">AFC 
        <div align="right">
            <img src="//upload.wikimedia.org/wikipedia/en/6/61/Asian_Football_Confederation_%28logo%29.svg" 
              style="height: 40px;"></img>
          </div>
      </a>
      <a href="" class="list-group-item">CAF
          <div align="right">
            <img src="//upload.wikimedia.org/wikipedia/en/7/72/Confederation_of_African_Football_logo.svg" 
              style="height: 40px;"></img>
          </div>
      </a>
      <a href="" class="list-group-item">CONCACAF
        <div align="right">
            <img src="//upload.wikimedia.org/wikipedia/en/4/4e/CONCACAF-logo.svg" 
              style="height: 40px;"></img>
          </div>
      </a>
      <a href="" class="list-group-item">CONMEBOL
        <div align="right">
            <img src="//upload.wikimedia.org/wikipedia/en/1/1b/CONMEBOL_logo.svg" 
              style="height: 50px;"></img>
          </div>
      </a>
      <a href="" class="list-group-item">UEFA
        <div align="right">
            <img src="//upload.wikimedia.org/wikipedia/en/a/ab/UEFA_logo_2012.png" 
              style="height: 50px;"></img>
          </div>
      </a>
    </div>
  </div>
</div>