<div class="panel panel-default">
  <div class="panel-thumbnail"><img src="/assets/example/bg_suburb.jpg" class="img-responsive">
  </div>
  <div class="panel-body">
    <p class="lead">
      Hacker News
    </p>
    <p>
      120k Followers, 900 Posts
    </p>

    <p>
      <img src="" width="28px" height="28px">
      <img src="" width="28px" height="28px">
    </p>
  </div>
</div>