<div class="col-sm-4 col-xs-6">
  <div class="panel panel-default">
    <div class="panel-thumbnail"><img src="//placehold.it/450X300/DD66DD/FFF" class="img-responsive">
    </div>
    <div class="panel-body">
      <p class="lead">
        Bootstrap Templates
      </p>
      <p>
        902 Followers, 88 Posts
      </p>

      <p>
        <img src="" width="28px" height="28px">
        <img src="" width="28px" height="28px">
      </p>
    </div>
  </div>
</div>