<div class="row">
  <div class="col-sm-4 col-xs-6">
    <!-- board -->
  </div>

  <div class="col-sm-4 col-xs-6">
    <!-- board -->
  </div>

  <div class="col-sm-4 col-xs-6">
    <!-- board -->
  </div>
</div>