<div class="row">
  <div class="col-md-4 col-sm-6">
    <!-- panel -->
    <!-- panel -->
    <!-- panel -->

  </div>
  <div class="col-md-4 col-sm-6">

    <!-- panel -->
    <!-- panel -->
    <!-- panel -->

  </div>
  <div class="col-md-4 col-sm-6">
    <!-- panel -->
    <!-- panel -->
    <!-- panel -->
  </div>
</div><!--/row-->