<div class="well">
  <form class="form">
    <h4>Sign-up</h4>
    <div class="input-group text-center">
      <input type="text" class="form-control input-lg" placeholder="Enter your email address">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" type="button">
          OK
        </button></span>
    </div>
  </form>
</div>